@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    private bool isWebAssembly;

    protected override void OnInitialized()
    {
        isWebAssembly = OperatingSystem.IsBrowser();
    }
}

@if (isWebAssembly)
{
    <p>Приложение работает на Blazor WebAssembly.</p>
}
else
{
    <p>Приложение работает на Blazor Server.</p>
}

<SurveyPrompt Title="How is Blazor working for you?" />
